- if @article.contents.toc?
  %aside.toc
    %nav
      %ul
        %li
          %a{href: "##{@article.id}", title: "Intro: #{@article.title}"} Introduction
        - @article.contents.toc.each do |item|
          %li
            %a{href: item['anchor'], title: item['title']}= item['title']
        %li
          %a{href: '#comments', title: 'comments'} Discussion
