!!!
%html

  %head
    %title= @title || "justintoo"
    %meta(charset='UTF-8')
    %meta(name='description' content=@description)
    %link(href='/stylesheet.css' rel='stylesheet')
    %link(rel='shortcut icon' href='/favicon.png')
    %link(href='/feed' type='application/rss+xml' rel='alternate' title='RSS Feed')
    /[if lt IE 9]
      %script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  %body
    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '213243855449683', // App ID
          channelUrl : '//www.justintoo.com/channel.html', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // Additional initialization code here
      };

      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));

    #container
      %section#main
        %header#header
          .blog-title
            %a(href='/' rel="home") Justin Too
          = haml @intro if @intro

        %section#content
          = yield

        %a#github(href="http://github.com/doubleotoo/justintoo-dot-com" target="_blank")


      %section#sidebar
        %h3 About me
        %p
          I am a Computer Scientist by trade, athlete by passion, and a child of God by Grace.
        %p(style="text-align: right;")
          %strong Justin Too

        %h3 More about me
        %ul
          %li
            %a(href="http://www.facebook.com/doubleotoo" target="_blank" rel="me" title="My Facebook profile") Facebook
          %li
            %a(href="http://www.linkedin.com/in/justintoo" target="_blank" rel="me" title="My LinkedIn profile") LinkedIn
          %li
            %a(href="http://twitter.com/doubleotoo" target="_blank" rel="me" title="My Twitter account") Twitter
        %hr
        %ul
          %li
            %a(href="http://github.com/doubleotoo" target="_blank" rel="me" title="My open source projects on Github") Github
        %hr
        %ul
          %li
            %a(href="http://fccchurch.com" target="_blank" rel="friend" title="My local church") Family Community Church

      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30118834-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();


      %footer#footer
        %p All content on this site are &copy; Justin Too 2012-#{Date.today.year}, unless otherwise stated. All rights reserved.

    :javascript
      (function() {
        var jquery_main = document.createElement('script');
        jquery_main.type = 'text/javascript';
        jquery_main.async = true;
        jquery_main.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js';
        var x = document.getElementsByTagName('footer')[0];
        x.parentNode.insertBefore(jquery_main, x);

        var jquery_ui = document.createElement('script');
        jquery_ui.type = 'text/javascript';
        jquery_ui.async = true;
        jquery_ui.src = 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js';
        jquery_main.parentNode.insertBefore(jquery_ui, jquery_main);
      })();

      (function() {
        var scrolling = function() {
          var scrollPositions = [];
          jQuery(".toc a").each(function(index, item) {
            var el = $(item);
            var id = document.getElementById(el.attr("href").slice(1))
            var header = $(id);
            scrollPositions.push({offset: header.offset()['top'], tocItem: el, header: header, id: id});

            $(item).click(function() {
              //$(':header[id*="toc_"]').stop(true, true); // TODO: stop previous animations
              jQuery(".toc a").removeClass('active');
              el.addClass('active');
              $(header).effect("highlight", {}, 2000);
            });
          });

          if (scrollPositions.length > 0) {
            $(window).scroll(function() {
              offset = $(window).scrollTop()
              len = scrollPositions.length
              var active = null;
              for (var i = 0; i < len; i++) {
                var head = scrollPositions[i];
                if (head.offset < offset + 50) {
                  active = i
                }
              }
              for (var i = 0; i < len; i++) {
                if (i === active) {
                  scrollPositions[i].tocItem.addClass('active');
                } else {
                  scrollPositions[i].tocItem.removeClass('active');
                }
              }
            });
          }
        }

        window.onload = function() { jQuery(scrolling) };
      })();
